button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  width: 8rem;
}

.form-item {
  position: relative;
}

input:focus::-webkit-input-placeholder {
  visibility: hidden;
}

input:focus,
input:not(empty) {
  border: 1px solid dodgerblue;
  border-radius: 3px;
}

label {
  display: none;
  font-size: 11px;
  color: dodgerblue;
  font-family: sans-serif;
  background-color: #fff;
  padding: 0 3px;
}

input:focus + label,
input:not(:placeholder-shown) + label,
select:focus + label,
select:not(:placeholder-shown) + label {
  display: inline-block;
  position: absolute;
  left: 12px;
  top: -5px;
}

select:focus + label {
  display: inline-block;
  position: absolute;
  left: 12px;
  top: -5px;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0 0.6rem;
  transition: all 0.2s ease-in-out;
  width: 100%;
  min-height: 2rem;
}

select {
  border-radius: 4px;
  background-color: white;
  font-size: 1rem;
  padding: 0 0.6rem;
  width: 100%;
  min-height: 2rem;
}

input,
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  align-items: center;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}
